<div class="board">
  <div class="bg-danger lost_message" style="display: none"><h4>You lost</h4></div>
  <table>
    <tr class="row1">
      <td class="square" data-row=0 data-column=0></td>
      <td class="square v" data-row=0 data-column=1></td>
      <td class="square" data-row=0 data-column=2></td>
    </tr>
    <tr class="row2">
      <td class="square h" data-row=1 data-column=0></td>
      <td class="square v h" data-row=1 data-column=1></td>
      <td class="square h" data-row=1 data-column=2></td>
    </tr>
    <tr class="row3">
      <td class="square" data-row=2 data-column=0></td>
      <td class="square v" data-row=2 data-column=1></td>
      <td class="square" data-row=2 data-column=2></td>
    </tr>
  </table>

</div>